<p style="color: green"><%= notice %></p>


<%# Create tabble to hold users with actions. should display no records when empty %>

<% if @users.empty? %>
  <p>No records found</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
    <thead>
      <tr>
        <%# Add numbers %>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
         <th scope="col">Last Name</th>
         <th scope="col">Email</th>
         <th scope="col">Role Code</th>
       </tr>
      </thead>
      <tbody>
        <% @users.each do |user, index| %>
          <tr>
            <%# Add numbers %>
            <td><%= index %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
            <td><%= user.user_role.role_code %></td>
            <td>
              <% if can? :read, user %>
                <%= link_to raw("<i class=\"bi bi-eye\"></i>"), user_path(user) %>
              <% end %>
              <% if can? :update, user %>
                <%= link_to raw("<i class=\"bi bi-pencil\"></i>"), edit_user_path(user) %>
              <% end %>
              <% if can? :destroy, user %>
                <%= link_to raw("<i class=\"bi bi-trash\"></i>"), user_path(user), method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
