<div id="<%= dom_id user_role %>">
  <p>
    <strong>Role code:</strong>
    <%= user_role.role_code %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_role.user_id %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= user_role.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= user_role.del_status %>
  </p>

</div>
