<p style="color: green"><%= notice %></p>

<%= render @permissions_role %>

<div>
  <%= link_to "Edit this permissions role", edit_permissions_role_path(@permissions_role) %> |
  <%= link_to "Back to permissions roles", permissions_roles_path %>

  <%= button_to "Destroy this permissions role", @permissions_role, method: :delete %>
</div>
