<div id="<%= dom_id permission %>">
  <p>
    <strong>Subject class:</strong>
    <%= permission.subject_class %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= permission.action %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= permission.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= permission.description %>
  </p>

</div>
