<div id="<%= dom_id role %>">
  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Unique code:</strong>
    <%= role.unique_code %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= role.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= role.del_status %>
  </p>

</div>
