<p style="color: green"><%= notice %></p>

<%= render @role %>

<h2><%= @role.name %> Permission Details</h2>
            <table class="table table-striped custab table-responsive table-hover table-condensed table-bordered">
              <thead>
              <tr>
                <th class="header">Controller Name</th>
                <th class="header">Action</th>
                <th class="header">Name</th>
                <th class="header">Desc</th>
              </tr>
              </thead>
              <tbody>
              <% @permissions.each do |permission| %>
                <tr>
                  <td> <%= permission.subject_class %> </td>
                  <td> <%= permission.action %> </td>
                  <td> <%= permission.name %> </td>
                  <td> <%= permission.description %> </td>
                </tr>
              <% end %>
              </tbody>
            </table>

  <%= link_to "Edit this role", edit_role_path(@role) %> |
  <%= link_to "Back to roles", roles_path %>

  <%= button_to "Destroy this role", @role, method: :delete %>
</div>
