<!DOCTYPE html>
<html>
  <head>
    <title>AddressbookRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script> %>
  </head>

  <body>
    <%# check if signed in %>

        <div class="container-fluid main-layout">
        <div class="row layout-start">
          <%#  if signed in, add a sidebar %>
          <% if user_signed_in? %>
            <div class="col-md-2 sidebar">
              <%= render "shared/sidebar" %>
            </div>
          <% end %>
          <div class="col">
            <%#  render the content %>
            <% if user_signed_in? %>
            <%# render navbar %>
            <%= render "shared/navbar" %>
            <% end %>
            <%= yield %>
          </div>
        </div>


  </body>
</html>
